BOT.TOKEN='你的TG TOKEN'
BOT.WEBHOOK_DOMAIN='https://你的机器人部署的域名'
BOT.WEBHOOK_URL='/你的机器人部署的路径'
BOT.CHAT_ID=你的群组ID
GITHUB.SECRET_TOKEN=你的GITHUB WEBHOOK 密钥
GITHUB.WEBHOOK_URL='/你的GITHUB WEBHOOK部署的路径'
AXUMRS.SECRET_TOKEN=AXUM.RS WEBHOOK 密钥
AXUMRS.WEBHOOK_URL='/AXUM.RS WEBHOOK 密钥部署的路径'
WEB.ADDR='0.0.0.0:9527'
RUST_LOG='bot_axum_rs=debug'
AUTO_SET_BOT_WEBHOOK=false